.container {
    border: 1px solid green;
    margin-top: 100px;
}
.cell {
border: 1px solid red;
margin: 1mm;
padding: 1mm;
}
.item1 {
    position: relative;
    left: 50px;
    top: 40px;
}
.item2 {
    position: absolute;
    left: 50px;
    top: 140px;
}
.item3 {
    position: fixed;
    left: 50px;
    top: 140px;
}
.item4 {
    position: sticky;
    top: 0;
    color: white;
    background: green;
}
.item5 {
    position: relative;
    height: 500px;
}
